<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input required formControlName="nome" class="form-control" placeholder="Nome" type="text" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="categoria"  required>
      <mat-option *ngFor="let item of categorias" [value]="item.value">
        {{item.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
  <mat-label>Descrição</mat-label>
  <input required formControlName="descricao" class="form-control" placeholder="Descrição" type="text" matInput>
</mat-form-field>
  <mat-form-field>
  <mat-label>Preço</mat-label>
  <input required formControlName="preco" class="form-control" placeholder="Preço" type="number" matInput>
</mat-form-field>
  <button type="button" mat-raised-button (click)="submit()" color="primary" [disabled] ="!form.valid">Adicionar</button>
</form>


