
<div class="container">
  <div class="header d-flex">
  </div>
  <div class="content">
    <div class="list">
      <div class="list-header">
        <strong><h1 style="color: crimson">Lista de produtos</h1></strong>
        <button mat-raised-button color="primary" (click)="open()">
          Adicionar
        </button>
      </div>

    <app-produtos [produto$]="allProduto$"
                  (produtoEmmiter)="selectProduto($event)"></app-produtos>
    </div>
  <app-detalhe [produto]="selectedProduto"
  *ngIf="selectedProduto"
  (deleteProduto)="deleteProduto()"
  (updateProduto)="updateProduto()"
  (comprarProduto)="comprarProduto()">
  </app-detalhe>

  </div>

 </div>

