<div class="detail container">
  <div class="d-flex row">
  <h2 class="text-uppercase">{{ produto.nome}}</h2>
  <h4 class="text-uppercase">Categoria:{{ produto.categoria }} </h4>
  <div class="content">
    <div class="text-uppercase">
      <p>Preço: {{ produto.preco | currency: 'R$'}}</p>
      <p>
        Descrição: {{ produto.descricao }}
      </p>
    </div>
  </div>
  <div>
    <button (click)="update()" mat-raised-button color="primary">Editar</button>
    <button (click)="delete()" mat-raised-button color="warn">Deletar</button>
    <button  (click)="comprar()" mat-raised-button class="float-end" style="background-color: lawngreen;color: white">Comprar</button>

  </div>
  </div>
</div>
